* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    padding: 10px;
    background-color: #FFF;

    /* 居中，宽度1000px */
    max-width: 1200px;
    margin: auto;

    line-height: 1.6;
}

p {
    margin: 10px;
}

pre {
    font-family: 'JetBrains Mono', monospace;
}

.equation {
    font-weight: bold;
    text-align: center;
}

.paper {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.header {
    /* border: 1px solid #f30707; */
    text-align: center;
}

.header h1 {
    /* border: 1px solid #0F0; */
    margin-bottom: 10px;
    color: black;
}

.header p {
    color: #44A;
    /* border: 1px solid #00F; */
    margin-bottom: 10px;
    
}

.sep-line {
    margin: 20px 0px;
    color: #44A;
}

section>h1 {
    font-size: 26px;
    background-color: #DEF;
    border-left: 5px solid #44A;
    padding: 10px;
    margin-bottom: 10px;
}

section>h2 {
    color: #46a;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

section>h5 {
    font-size: 18px;
    margin: 2px 10px;

}



/* 图片行 */
.image-container {
    /* border: 1px dotted #00F; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 图片框 = 图片 + 下方标题 */
.image-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    /* border-radius: 20px; */
    /* background-color: white; */
    /* border: 1px solid #0F0; */
}

/* 图片框 图片 */
img {
    /* border: 2px solid #0FF; */
    width: 300px;
    /* height: 300px; */
    object-fit: contain;
}

/* 图片框  标题 */
.image-container p {
    text-align: center;
    margin: 2px;
    border: 1px dotted #0FF;
    font-weight: bold;
}